<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

</head>
<body>
    <p>{{todo.title}}</p>
    <p>Done with your todo?</p>

    {% if todo.done == False %}
    <a class="ui green button" href="/mark/{{todo.id}}">Done</a>

    {%else%}
    <a class="ui green button" href="/mark/{{todo.id}}">Undo</a>

    {%endif%}
    <a class="ui blue button" href="/">Back</a>


</body>
</html>